<html>
<head>
<style>
.regText {
    font-size: 15px;
    font-family: verdana;
}
.titleText {
    font-size: 40px;
    font-family: verdana;
}
.pageTitle {
    font-size: 30px;
    font-family: verdana;
}
.link {
    font-size: 20px;
    font-family: verdana;
}
.all {
    text-align: center;
}
.titleBox {
    background-color: rgb(111, 196, 118);
    margin-right: 100px;
    margin-left: 100px;
    padding: 30px;
}
.formBox {
    background-color: lightblue;
    margin-right: 30px;
    margin-left: 30px;
    padding: 30px;
}
.description {
    margin-right: 100px;
    margin-left: 100px;
    font-size: 15px;
    text-align:left;
}
td, th {
    width: 30%;
    border-style: none;
    text-align: left;
    padding: 8px;
}
table {
    border-style: none;
    border-collapse: collapse;
    width: 90%;
}
</style>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
</head>


<body>
    <div class="all">
    <title>News Source - Sentences</title>
    <div class="titleBox">
    <div class="titleText">
        <strong>News Source - Sentences</strong>
    </div>
    <div class="link">
        <strong><br/>Some of these may not work, as the news websites' html formats change and the scraper is not dynamic. (All of these worked at one point.)</strong>
        <a href="{{ url_for('mainPage') }}"><br/>Back to main page</a>
    </div>
    <div class="description">
    <br/>Does the same thing as the news scraper, but prints the positive and negative sentences.
    <br/><strong>!!! Heroku now has a 30 second request timeout, and scraping any of these news sites takes longer than that, so this will no longer work.
    <br/>Here are some screenshots when I run it locally:
    </strong>
    <img src="{{url_for('static', filename='newsScraperDebateScreenshots/Screenshot (67).png')}}" alt="1" width="720" height="405">
    <br/><br/><br/>
    <img src="{{url_for('static', filename='newsScraperDebateScreenshots/Screenshot (68).png')}}" alt="2" width="720" height="405">
    <br/><br/><br/>
    <img src="{{url_for('static', filename='newsScraperDebateScreenshots/Screenshot (69).png')}}" alt="3" width="720" height="405">
    <br/>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
                {% if category == 'divideBy0' %}
                <span style="color: red;">[{{ message }}]</span>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="formBox">

        <form action="/newsScraperDebater" method="POST">
            <strong>Choose sources to compare<br/></strong>
            <input list="sources1" name="sources1">
            <datalist id="sources1">
                <option value="CNN articles (30)">
                <option value="New York Post articles (30)">
                <option value="New York Times articles (30)">
                <option value="Daily Wire articles (30)">
                <option value="FOX articles (30)">
                <option value="Huffington Post articles (30)">
            </datalist>

            <input list="sources2" name="sources2">
            <datalist id="sources2">
                <option value="CNN articles (30)">
                <option value="New York Post articles (30)">
                <option value="New York Times articles (30)">
                <option value="Daily Wire articles (30)">
                <option value="FOX articles (30)">
                <option value="Huffington Post articles (30)">
            </datalist>

            <br/><br/>
            <label for="keywords">Keywords (separate by a comma and a space): </label>
            <input type="text" id="keywords" name="keywords"><br><br>
            <input type="submit" value="Submit"/>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    <span style="color: red;">[{{ message }}]</span>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        {% if finishedReading is defined %}
        
        {% if keywordArr|length > 1 %}
            <p>Keywords searched: {{ keywords }}</p>
        {% else %}
            <p>Keyword searched: {{ keywords }} </p>
        {% endif %}

        <table>
            <tr>
                {% if source1 == None %}
                    <th> </th>
                {% else %}
                    <th>{{ source1 }}</th>
                {% endif %}
                {% if source2 != None %}
                    <th>{{ source2 }}</th>
                {% endif %}
            </tr>
            
            <tr>
                {% if typed1 != None %}
                <td>
                Number of articles: {{ source1Dict["numArticles"] }} <br/>
                Number of sentences: {{ source1Dict["numSentences"] }}<br/>
                % Negative sentences: {{ source1Dict["Negative sentences"] }}%<br/>
                % Neutral sentences: {{ source1Dict["Neutral sentences"] }}%<br/>
                % Positive sentences: {{ source1Dict["Positive sentences"] }}%<br/>
                % Negative articles: {{ source1Dict["Negative articles"] }}%<br/>
                % Neutral articles: {{ source1Dict["Neutral articles"] }}%<br/>
                % Positive articles: {{ source1Dict["Positive articles"] }}%<br/><br/>
                </td>
                {% else %}
                <td> </td>
                {% endif %}

                {% if typed2 != None %}
                <td>
                Number of articles: {{ source2Dict["numArticles"] }} <br/>
                Number of sentences: {{ source2Dict["numSentences"] }}<br/>
                % Negative sentences: {{ source2Dict["Negative sentences"] }}%<br/>
                % Neutral sentences: {{ source2Dict["Neutral sentences"] }}%<br/>
                % Positive sentences: {{ source2Dict["Positive sentences"] }}%<br/>
                % Negative articles: {{ source2Dict["Negative articles"] }}%<br/>
                % Neutral articles: {{ source2Dict["Neutral articles"] }}%<br/>
                % Positive articles: {{ source2Dict["Positive articles"] }}%<br/><br/>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                Number of positive sentences: {{ lenPos }} <br/><br/>
                {% for posS in allPos %}
                    {{ posS }}<br/><br/>
                {% endfor %}
                </td>

                <td>
                Number of negative sentences: {{ lenNeg }} <br/><br/>
                {% for negS in allNeg %}
                    {{ negS }}<br/><br/>
                {% endfor %}
                </td>
            </tr>
            </div>
            
        </table>
    
    </div>
    {% endif %}
    </div>
</body>
</html>